# Environment variables
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Testing
.coverage
htmlcov/
.pytest_cache/
testdoc/
rag_data/
rag_aud/


# Logs
*.log

# Local PDF files (often used for testing)
*.pdf

# FAISS indexes and other large binary files
*.index
*.bin

# Temporary files
tmp/
temp/


G\documents\academic\*
